* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: monospace;

}

body {
    background: darkviolet;
}

header {
    width: 100%;
    padding: 15px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background: rgb(99, 0, 140);
    color: white;
    font-size: 1.5em;

}

ul {
    display: flex;
}

ul li {
    list-style: none;
    text-decoration: none;
    margin-left: 15px;
    padding: 5px;
    transition: background 0.5s;
    
    
}

ul li:hover{
    cursor: pointer;
    box-sizing: border-box;
    background: darkviolet;
    border-radius: 15px 0px 15px 0px;
   
    

}


h1 {
    font-size: 3em;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    color: white;
}

.sequencial{
    max-width: 900px;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    background: white;
    padding: 10px;
}

h3 {
    font-size: 1.5em;
}

footer{
    width: 100%;
    padding: 50px 20px 50px 20px ;
    font-size: 2em;
    display: flex;
    
}

footer div {
    width: 100%;
}

footer div a{
text-decoration: none;
color: white;

}

footer div p {
    color: white;
}

footer div {
    text-align: center;
}




/* base-------------------------------------------*/

button {

    margin-top: 10px;
    height: 40px;
    width: 150px;
    padding: 5px;
    font-family: monospace;
    font-size: 1.3em;
    background: rgb(244, 220, 255);
    border: 2px solid black;
    border-radius: 4px;
    transition: 0.5s;
}

button:hover {
    font-weight: bold;
    background: rgb(224, 154, 253);
    
}

.rotulos{
    font-size: 1.4em;
}
.entradas{
    font-size: 1.4em;
    border: solid 2px black;
    border-radius: 4px;
    margin-top: 10px;
    height: 40px;
}

.entradas:hover{
    background: rgb(244, 220, 255);
}

.resultadoFinalExercicios {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
    
}

/* exercicio 1.01-------------------------------------------*/
.ex_sequencial {
    margin: 15px;
    text-align: justify;
    
    
}

#ex01_camada_1{
    width: 100%px;
    height: 60px;
    display: flex;
}

/* exercicio 1.02-------------------------------------------*/
#ex02_camada_1 {
    width: 100%;
    
}

#conteudo_1-02 {
    padding-top: 10px;
    
}

#conteudo_1-02 input {
    width: 100px;
    height: 40px;
   
}



/* exercicio 1.03-------------------------------------------*/
#questao3a{
    width: 100px;
}

#questao3b{
    width: 100px;
}

/* exercicio 1.04-------------------------------------------*/

#questao4a, #questao4b, #questao4c, #questao4d {
 width: 100px;
} 


/* exercicio 1.05-------------------------------------------*/

#questao5 {
    width: 100px;
}
/* exercicio 1.06-------------------------------------------*/
#questao6 {
    width: 100px;
}

/* exercicio 1.07-------------------------------------------*/
#questao7 {
    width: 100px;
}

/* exercicio 1.08-------------------------------------------*/
#questao8a {
    width: 100px;
}
#questao8b {
    width: 100px;
}

/* exercicio 1.09-------------------------------------------*/
#questao9 {
    width: 100px;
}

/* exercicio 1.10-------------------------------------------*/
#questao10 {
    width: 100px;
}

/* exercicio 1.11-------------------------------------------*/
#questao11a {
    width: 100px;
}
#questao11b {
    width: 100px;
}
#questao11c {
    width: 100px;
}

/* exercicio 1.12-------------------------------------------*/
#questao12 {
    width: 100px;
}

/* exercicio 1.13-------------------------------------------*/
#questao13 {
    width: 100px;
}

/* exercicio 1.14-------------------------------------------*/
#questao14 {
    width: 100px;
}